.badge {
  a {
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: $black;
    color: white;
  }
  &--promotion {
    a {
      background-color: $discount-bg;
    }
  }
}

@media (max-width: 768px) {
  .badge {
    a {
      font-size: 10px;
    }
  }
}
