.basket__h2 {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 40px 0px 20px;
  letter-spacing: 2px;
  #basket-products-amount {
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}

@mixin setWidthAndCenter {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 40px;
}

#main-basket {
  width: 100%;
  background-color: $arrow-bg;
}

#section-basket-products {
  @include setWidthAndCenter();
  padding-bottom: 10px;
  .basket__products {
    &--item {
      background-color: $white;
      padding: 20px;
      display: flex;
      margin: 10px 0px;
    }
    &--about {
      width: 50%;
      display: flex;
    }
    &--img {
      img {
        width: 110px;
      }
    }
    &--product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2px 30px;
    }
    &--name {
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 2px;
    }
    &--detail {
      display: flex;
      font-size: 13px;
      padding: 10px 0px;
      p {
        margin-right: 20px;
      }
    }
    &--action {
      display: flex;
      a {
        @include centerFlex();
        text-decoration: none;
        color: $black;
        padding: 15px;
        padding-left: 0px;
        .basket__products--heart,
        .basket__products--delete {
          width: 20px;
          margin-right: 5px;
        }
      }
    }
    &--numbers {
      width: 50%;
      @include centerFlex();
      justify-content: space-evenly;
    }
    &--oneprice,
    &--totalprice {
      font-weight: 900;
      font-size: 20px;
      &::after {
        content: ' zł';
      }
    }
    &--amount {
      display: flex;
      div {
        @include centerFlex();
        border: 2px solid $arrow-bg;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
        width: 40px;
        height: 40px;
      }
      .basket__amount--current {
        border-right: none;
        border-left: none;
        font-size: 15px;
        font-weight: 300;
        cursor: auto;
      }
    }
  }
}
#section-basket-summary {
  @include setWidthAndCenter();
  padding-bottom: 10px;
  .basket__form {
    background-color: $white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    &--summary {
      order: 1;
      .basket__detail {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        &--text {
          width: 150px;
          text-align: right;
          font-size: 13px;
          letter-spacing: 1.3px;
          margin-right: 60px;
        }
        &--price {
          font-size: 20px;
          font-weight: 900;
          &::after {
            content: ' zł';
          }
        }
        #basket-total-price {
          font-size: 40px;
        }
        #basket-total-text {
          text-align: left;
          font-size: 25px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
      button {
        width: 100%;
        margin: 10px auto 0px;
      }
    }
    &--coupon {
      display: flex;
      flex-direction: column;
      width: 40%;
      button {
        order: 2;
        width: 100%;
        margin: 50px auto 0px;
      }
      .basket__coupon--text {
        font-size: 13px;
        padding: 10px 0px 15px;
      }
      #coupon {
        display: flex;
        justify-content: space-between;
        input {
          width: 70%;
          outline: none;
          border: none;
          padding: 5px;
          border: 2px solid $arrow-bg;
          border-right: none;
          font-size: 12px;
          font-style: italic;
        }
        #coupon-confirm {
          width: 30%;
          margin: 0;
        }
      }
    }
  }
}
#section-basket-description {
  @include setWidthAndCenter();
  p,
  a {
    font-family: $font-stack;
    color: $black;
    font-size: 13px;
    line-height: 1.9;
    letter-spacing: 1.3px;
  }
}

@media (max-width: 780px) {
  #section-basket-products {
    .basket__products {
      &--item {
        flex-direction: column;
      }
      &--about,
      &--numbers {
        width: 100%;
      }
      &--numbers {
        justify-content: flex-start;
        margin-top: 20px;
      }
      .basket__products--oneprice {
        margin-right: 80px;
      }
      .basket__products--totalprice {
        display: none;
      }
    }
  }
}
