$font-stack: 'Cabin', Helvetica, Arial, sans-serif;
$font-openSans: 'Open Sans', sans-serif;
$grey: #f9f9f9;
$darkGrey: #707070;
$promotion-bg: #f5f5f5;
$arrow-bg: #cfcfcf;
$black: #231f20;
$facebook-bg: #3a559f;
$discount-bg: #bb2000;
$white: #fff;
$heightBox: 50px;

@mixin centerFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}
