.instagram {
  text-align: center;
  margin: 10px;
  width: 90%;
  margin: 0 auto;
  p {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px;
  }
  #socialIcon img {
    padding: 10px;
  }
  .slider--instagram {
    width: 90%;
    margin: 0px auto;
    transform: translateX(-10px);
    div {
      @include centerFlex();
      transform: translateX(5px);
    }
  }
}
