@media (max-width: 650px) {
  header {
    .company {
      .logo {
        a {
          width: 90%;
        }
      }
    }
  }
  main {
    .product {
      transform: translateX(-10px);
      width: 100%;
      .slider--products {
        transform: translateX(10px);
      }
    }
  }
}
