@media (max-width: 650px) {
  header {
    .company {
      .logo {
        a {
          width: 90%;
        }
      }
    }
  }
  main {
    .product {
      transform: translateX(-10px);
      width: 100%;
      .slider--products {
        transform: translateX(10px);
      }
    }
  }
  .selectedProduct {
    &__info {
      @include centerFlex();
      flex-direction: column;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      &--slider {
        width: 90%;
        margin: 0 auto;
        div {
          img {
            margin: 0px auto;
          }
        }
      }
      &--grade {
        order: 2;
      }
      &--model {
        order: 3;
      }
    }
    &__priceSchedule {
      &--form {
        align-self: flex-start;
        padding: 0px 5px;
        .iconText {
          padding: 8px 0px;
        }
      }
    }
  }
}
