.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 40000;
  pointer-events: none;
  transition: 200ms ease-in-out;
  opacity: 0;
  &--active {
    opacity: 1;
    pointer-events: all;
  }
}
