.product {
  margin: 20px auto;
  width: 80%;
  transform: translateX(-10px);
  div {
    #product__p {
      transform: translateX(10px);
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      line-height: 3;
    }
  }
  .slider--products {
    margin: 0px auto;
    .product__item {
      @include centerFlex();
      flex-direction: column;
      img {
        max-width: 135px;
        max-height: 135px;
      }
      &--content {
        text-align: center;
        color: $black;
        margin: 30px 0;
        position: relative;
        a {
          line-height: 1.5;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          color: $black;
        }
        .model {
          font-size: 13px;
        }
        .price {
          line-height: 2.5;
          font-size: 20px;
          font-weight: 900;
        }
        .price--discount {
          color: $discount-bg;
          sup {
            color: $darkGrey;
            font-size: 13px;
          }
        }
        .product__item--add {
          position: absolute;
          font-weight: 300;
          bottom: -45px;
          left: 50%;
          transform: translateX(-50%);
          display: none;
          width: 160px;
          cursor: pointer;
        }
      }

      &:hover .product__item--add {
        display: block;
      }
    }
  }
}

.popup-product {
  position: fixed;
  width: 80vw;
  max-width: 1200px;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 50000;
  background-color: $white;
  overflow: auto;
  transition: 500ms ease-in-out;
  box-shadow: 1px 1px 20px 0px rgba(17, 17, 13, 0.75);
  &--active {
    transform: translate(-50%, -50%) scale(1);
  }
  .selectedProduct__info--slider {
    max-width: 350px;
  }
  .selectedProduct__info--sliderSide {
    height: 450px;
  }
  .selectedProduct__priceSchedule--availableColor {
    padding: 15px 10px 0px 60px;
    h5 {
      font-size: 20px;
    }
    .models {
      a {
        img {
          max-width: 50px;
        }
      }
    }
  }
}
