.slick-slide {
  margin: 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-next::after {
  content: '>';
  color: $arrow-bg;
  font-size: 20px;
}
.slick-prev::after {
  content: '<';
  color: $arrow-bg;
  font-size: 20px;
}
