@media (max-width: 950px) {
  header {
    #header--promotion {
      margin-top: 50px;
    }
    #header--service {
      display: none;
    }
    .company {
      position: fixed;
      justify-content: space-between;
      top: 0px;
      left: 0px;
      z-index: 1000;
      height: 50px;
      .logo {
        a {
          width: 60%;
        }
      }
      .search {
        width: 100%;
        background-color: rosybrown;
        form {
          border: none;
          input {
            display: none;
          }
        }
      }
      .contact {
        justify-content: space-between;
        ul {
          width: 100%;
        }
        #contact--phone,
        #contact--client,
        #contact--language,
        #contact--arrowBox {
          display: none;
        }
        #contact--box {
          div {
            display: none;
          }
        }
        #contact--hamburger {
          display: block !important;
        }
      }
    }
    .header__nav {
      display: none;
    }
  }
  main {
    .product {
      transform: translateX(-20px);
      max-width: 500px;
    }
  }
}
