@media (max-width: 950px) {
  header {
    #header--promotion {
      margin-top: $heightBox;
    }
    #header--service {
      display: none;
    }
    .company {
      position: fixed;
      justify-content: space-between;
      top: 0px;
      left: 0px;
      z-index: 1000;
      height: $heightBox;
      .logo {
        height: 100%;
        a {
          width: 60%;
        }
      }
      .search {
        width: 100%;
        background-color: rosybrown;
        form {
          border: none;
          input {
            display: none;
          }
        }
      }
      .contact {
        justify-content: space-between;
        ul {
          width: 100%;
        }
        #contact--phone,
        #contact--client,
        #contact--language,
        #contact--arrowBox {
          display: none;
        }
        #contact--box {
          div {
            display: none;
          }
        }
        #contact--hamburger {
          display: block !important;
        }
      }
    }
    .header__nav {
      position: relative;
      z-index: 2000;
      width: calc(100% - 60px);
      height: 0px;
      padding: 0px;
      ul {
        top: -100px;
        left: 60px;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        li {
          display: flex;
          align-items: center;
          height: $heightBox;
          width: 100%;
          background-color: $white;
          border-bottom: 1.2px solid $darkGrey;
          padding: 0px;
          a {
            text-decoration: none;
            text-transform: initial;
            color: $black;
            font-size: 18px;
            padding-left: 10px;
          }
          .nav--icon {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: $grey;
            padding-left: 10px;
          }
          ul {
            display: none;
          }
          .show {
            display: block !important;
            z-index: 4000;
            position: absolute;
            top: $heightBox;
            left: 0px;
            padding: 0px;
            ul {
              display: none;
            }
          }
          .moveElement {
            transform: translateY(-$heightBox);
          }
        }
      }
      .nav--arrow {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        img {
          position: absolute;
          right: 20px;
          top: 15px;
          cursor: pointer;
        }
      }
      .nav--arrow--prev {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        img {
          position: absolute;
          left: 20px;
          top: 17px;
          cursor: pointer;
          transform: rotate(180deg);
        }
      }
      .nav__advertising {
        justify-content: center;
        height: 200px;
        background-color: $grey;
        a {
          text-transform: uppercase;
        }
      }
      .li--light {
        font-weight: 300;
      }
      .li--onlymobile {
        display: list-item;
      }
      img {
        display: block;
      }
    }
    .showHamburger {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 60px;
      height: 50px;
      background-color: $white;
      a {
        width: 100%;
        height: 100%;
        margin: 0px;
        @include centerFlex();
      }
    }
  }
  main {
    .product {
      transform: translateX(-20px);
      max-width: 500px;
    }
    .selectedProduct {
      &__info {
        @include centerFlex();
        flex-direction: column;
        &--nav,
        &--sliderSide {
          display: none;
        }
        &--slider {
          grid-column: 1;
          grid-row: 1;
          margin: 0 auto;
          div {
            img {
              max-width: 200px;
            }
          }
        }
        &--grade {
          order: 2;
          padding: 0.25em;
          margin: 0;
        }
        &--model {
          padding: 0.5em;
          order: 3;
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
