@import 'config';

:root {
  box-sizing: border-box;
  font-size: 10px;
  font-family: $font-stack;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@import 'grid';
@import 'badges';
@import 'buttons';
@import 'selects';
@import 'slider';
@import 'stars';
@import 'header';
@import 'navigator';
@import 'sliderMain';
@import 'sliderShoes';
@import 'instagram';
@import 'banner';
@import 'product';
@import 'benefit';
@import 'selectedProduct';
@import 'detailProduct';
@import 'footer';
@import 'tablet';
@import 'mobile';
